/* <General> */
html,body,.main {
    height:100%;
    width: 100%;
    padding:0;
    margin:0;
    position: fixed;
}

* {
    outline: none!important;
}

.radio-group > .btn-primary{
    background-image: none;
    border-color: #7a8288;
    text-shadow: none;
    border-radius: 0;
}

.dropdown-menu .label{
    font-size: 70%;
    width: 30px;
    float: right;
    margin-top: 7%;
}

span:last-child .separator{
    display: none;
}

.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

.radio-group > .btn-primary.active{
    border-color: #c8c8c8;
}

.modal-footer {
    margin-top: 0px;
    padding: 0px 20px 10px;
    text-align: right;
    border-top: none;
}

.modal-dialog-translate{
    transform: translate(0, 25%) !important;
    -ms-transform: translate(0, 25%) !important;
    -webkit-transform: translate(0, 25%) !important;
}

.modal-header {
    padding: 10px 15px 10px 15px;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none!important;
}

.navbar {
  margin-bottom: 10px;
}

label{
    cursor: auto;
    font-weight:600!important; 
    margin-bottom: 0!important;
}

.form-control {
    color: #272b30;
    background-color: #ccc;
    border: none!important;
}

.labelTop{
    padding-top:10px;
}

.inputGroup{
    min-height: 29px!important;
    margin-bottom: 0px!important;
}

.text-danger {
    color: #a94442;
}

.panel{
    margin-bottom: 10px;
}

.panel-heading {
    padding: 0px;
    text-align: center;
}

.text-success {
    color: #3c763d;
}
/*
.btn-group > .btn.dropdown-toggle .caret {
    position: absolute;
    right: 5px;
}
*/
.dropdown-menu{
    padding: 0;
}

.dropdown-menu .divider{
    margin: 0px;
}

.dropdown-menu > li > a {
    line-height: 2;
}
.dropdown-report > li > a {
    line-height: 1;
}
/*
.btn-group > .btn.dropdown-toggle {
    text-align: left;
    padding-right: 30px;
}
*/
.no-border-bottom{
    border-bottom: none!important;
}

.no-margin{
    margin: 0!important;
}

.popover-content {
    font-size: 20px;
    background: white;
    color: grey;
}

.tooltip {
/*    margin-right: 40px;*/
}

.tooltip-inner{
    color:#fff;
    background-color:grey;
}

.img-header{
    border:5px;
/*    border-color: white;*/
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius:  0 5px 5px 0;
    border-radius:  0 5px 5px 0;
/*    background: grey;*/
/*    background: Transparent;*/
    padding: 7px;
  background-color: #272b2e;
}
/* </General> */


/* <logos> */

.logo, .logo-xs{
    margin: 0 auto 0;
}

.logo
{
    background: url('../img/logo.png') no-repeat;
    height: 66px;
    width: 310px;
    background-size: 320px;
}

.logo-xs
{
    background: url('../img/logo-xs.png') no-repeat;
    height: 32px;
    width: 146px;
    background-size: 150px;
}

.navbar-brand {
    padding: 9px 15px;
}
/* </logos> */


/* <Special grid styles> */
.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
}
.show-grid [class*="span"]:hover {
  background-color: #ddd;
}
.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
  margin-top: 5px;
}
.show-grid [class*="span"] [class*="span"] {
  background-color: #ccc;
}
.show-grid [class*="span"] [class*="span"] [class*="span"] {
  background-color: #999;
}

.span-header {
    background-color: #aaa;
    text-align: center;
    -webkit-border-top-left-radius: 3px;
     -moz-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
     -moz-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px;
    min-height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.span-body {
    margin-left: 0!important;
    background-color: #eee;
    text-align: left;
    -webkit-border-top-right-radius: 3px;
     -moz-border-top-right-radius: 3px;
          border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
     -moz-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px;
    min-height: 40px;
    line-height: 40px;
  padding-left: 20px;
    font-size: 14px;
    
}
/* </Special grid styles> */


/* <signin> */
p.sign-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 5%;
    -webkit-font-smoothing: antialiased;
}



form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    outline: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form.login button[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login .forgot-pass-content
{
    text-align: right;
}

form.login label, form.login a
{
    font-weight: 400;
}

.sign-card {
    padding: 25px 25px 5px 25px;
    margin: 0 auto 25px;
    margin-bottom: 20px;
    width: 280px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #484e55;
}

.sign-more{
     margin: 0 0 10px;
    color: #555;
    font-size: 14px;
    text-align: center;
}

p[class^='text-']{
    margin-top: 16px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 14px;
}

.sign-card a:hover,
.sign-card a:focus {
  color: #ffffff;
  text-decoration: none;
}
/* </signin> */

/* <register> */
form.register input[type="text"], form.register input[type="password"]
{
    width: 100%;
    margin: 0;
    outline: 0;
    height: 32px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
}

form.register button[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.register label, form.register a
{
    font-size: 12px;
    font-weight: 400;
}

.register-card {
    padding: 20px 30px;
    margin: 0 auto 25px;
    margin-bottom: 20px;
    width: 304px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #484e55;
}

.form-inline .dropdown-menu > li > a {
    padding: 1px 20px!important;
}
/* </register> */

/* <Home> */
.itemFound{
    border-top: 1px solid #1c1e22!important;
}

.patientsList{
    border-collapse: separate;
    border-radius: 4px;
    border: 1px solid #000;
    background: #2e3338;
    height: 100%;
    overflow: auto;
}

.container{
    padding-top: 1%;
    padding-bottom: 1%;
    height: 90%;
}

.table-inner{
    border: none;
    background: none;
    width: 100%;
    overflow: auto;
}

.table-mini{
    background: #3a3f44!important;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

.table > tbody + tbody {
    border-top: 1px solid #1c1e22;
}

.table-mini > thead > tr > th {
    border-bottom: 1px solid #1c1e22;
}

.table-mini > tbody > tr > td {
    border-top: none!important;
}
/*</Home>*/

/* <viewer> */
.viewer{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #000;
}

.annotation{
    position:absolute;
    width:100%;
    z-index: 99999;
}

.screens{
    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -ms-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
    height: 100%;
}

.shutdown{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.7;
}

.blur{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
/*    filter: blur(10px);*/
    filter: url('../img/blur.svg#blur'); /* for Firefox - http://jordanhollinger.com/media/blur.svg */
    opacity: 0.7;
}

.screen{
    float: left;
    background-color: #000;
}

.screen-1{
    width: 100%;
    height: 100%;
}

.screen-2{
    width: 50%;
    height: 100%;
}

.screen-4{
    width: 50%;
    height: 50%;
}

.screen-top-right, .screen-bottom-right{
    border-left: solid 1px #272b30;
}

.screen-bottom-right,.screen-bottom-left{
    border-top: solid 1px #272b30;
}

.screen-caption{
    position: absolute;
    z-index: 2;
    padding: 10px 15px;
    color:#fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.screen-caption-right{
    right:0;
    text-align: right;
}

.screen-caption-left{
    left:0;
    text-align: left;
}

.screen-caption-heading{
    font-size: 18px;
}

.screen-caption-body{
    font-size: 11px;
}

.mammography{
    width:50%;
    height: auto;
}

.toolbar-vertical{
    min-width: 50px;
    max-width: 50px; 
    right: 5px;
    bottom:0;
    position: fixed;
    z-index: 3;
}

.toolbar-vertical button{
    padding: 8px 6px;
}

.toolbar-vertical > div > div > .btn-group{
    width:100%;
}

.toolbar-horizontal{
    right: 60px;
    z-index: 3;
    position:absolute;
    bottom:0;
}

.toolbar-horizontal button{
/*    margin:0px;*/
/*    padding: 8px 6px;*/
    width: 50px;
}

.toolbar-horizontal > div > div > .btn-group{
    width:100%;
}

.arrow{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 0 4px;
    border-color: transparent transparent transparent #fff;
}


.dropdown-menu > li > button{
    margin:0;
}

.btn-half,.btn-quarter, .btn-all, .btn-all-h, .panel{
    border-radius:0;
}

.btn-top-none button{
    border-top: 0;
}

.btn-all{
    width:100%;
}

.btn-all-h{
    height:100%;
}

.btn-half{
    width:50%;
}

.btn-quarter{
    width:25%;
}

.txt-wrap{
    margin-top: -3px;
    word-wrap: break-word;
    width: 5px;
    line-height: 0.9;
    margin-left: 5px;
}

.classificationModal table{
    border-top: none;
    margin-bottom: 0;
    height: 290px;
}

.classificationModal table > thead > tr > th {
    border-bottom: none;
    height: 30px;
}

.classificationModal th{
    text-align: center;
}

.classificationModal th > div{
    border: 1px solid white;
    border-radius: 12px;
    color: #fff;
    font: 15px/18px Helvetica, Verdana, Tahoma;
    width: 20px;
    margin: auto;
}

.classificationModal th:first-child{
    text-align: center;
}

.classificationModal th:nth-child(2){
    border-left: 1px solid #1c1e22;
}

.classificationModal td:nth-child(2){
    border-left: 1px solid #c8c8c8;
}

.annotations-history {
    background-color: #2e3338;
    margin: 0px 5px;
    padding: 10px 20px;
}

.modal-img{
    padding: 2px;
    border-radius: 5px;
    width: 80px;   
}

.rotate {
    vertical-align: inherit!important;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.classificationModal td > img{
    padding:2px;
    border-radius: 5px;
    width: 80px;
}

.tab-content,.nav-tabs{
    padding:0!important;
}

.nav-tabs img {
    border-radius: 50%;
    width: 20px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
    -webkit-transform: translateZ(0);
}

.nav-tabs > li.active > a > img,
.nav-tabs > li > a:hover > img{
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}

.nav-tabs > li > a, .nav-tabs > li.active > a, 
.nav-tabs > li > a:hover, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus{
    border: none!important;
}

#reportModal .panel-heading{
    text-align: left;
    padding-left: 10px;
}

#reportModal .modal-body{
    padding-top: 15px;
    padding-bottom: 5px;
}

.mini-screen{
    width:90px;
    height: 115px;
    border:1px #c8c8c8 solid;
    overflow: hidden;
}

.mini-screen  img{
    height: 115px;

}

#reportModal ol{
    max-height: 54px;
    overflow-y: auto;
    list-style-position: inside;
    padding-left: 0;
    padding-top:5px;
    margin-bottom: 0;
}

/*
#reportModal ol > li > img{
    padding:2px;
    border-radius: 5px;
    width: 80px;
}
*/

#reportModal .btn-group > .btn.dropdown-toggle .caret {
    position: initial;
}

#reportModal .dropdown-menu > li > a{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

#reportModal .modal-title {
    line-height: initial;
}
    
#reportModal .modal-dialog {
    margin: 5.5px auto;
}

@media (min-height: 700px) {
  #reportModal .modal-dialog {
      margin: 15px auto;
  }
}

#reportModal ol > li > img{
    width: 40px;
    border-radius: 3px;
}

#reportModal ol > li{
    padding-bottom: 5px;
}

@media (min-width: 768px) {
  .survey > .modal-dialog {
      margin: 120px auto;
  }
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#reportModal .panel-body{
    padding: 10px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

#classificationModal table{
    table-layout: fixed;border-left: 1px solid #1c1e22;
}

#classificationModal{
    opacity:0.8;
}

#acrConclusionsModal a, #acrConclusionsModal a:hover{
    color: #c8c8c8;
    text-decoration: none;
}

#acrConclusionsModal i{
    padding-right: 3px;
}

#acrConclusionsModal .list-unstyled{
    font-size:12px;padding-left: 10px;
}
/* </viewer> */

/* <survey> */

.bckgrd{
    background: grey;
/*    margin: 10px;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position:relative;       
    -webkit-box-shadow:0 3px 6px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.2) inset;
       -moz-box-shadow:0 3px 6px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.2) inset;
            box-shadow:0 3px 6px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.2) inset;
}

/* </survey> */

/* <infosPatient> */
.infosPatientlist {
    margin: 0 20px 17px;
}

.infosPatientTable {
    display: table;
}

.infoPatient {
    margin-bottom: 23px;
    line-height: 1.4;
    margin-bottom: 40px;
    display: table-row;
}

.infoLabel {
    font-weight: bold;
    padding-right: 16px;
    min-width: 0;
    white-space: nowrap;
    width: 50%;
}

.infoLabel, .infoValue  {
    display: table-cell;
    padding-top: 11px;
}

.infoValue {
    font-size: 13px;
    text-align: right;
}

.infoPatient:first-child .infoPatientItem {
    padding-top: 0;
}

.survey label{
    margin-top:10px;
}
.survey img{
    padding: 5px;
}

.survey .choice{
    border:#2e3338 solid 1px;
}

.survey .choice:hover{
    border:#c8c8c8 solid 1px;
}

