<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.2/slate/bootstrap.min.css">
        <link rel="stylesheet" href="style/basicReport.css">
        <style>
            html, body {
            background-color: black;
            font-family: 'Sackers Gothic Std';
            font-weight: 500;
            font-size: 9px;
          }
        </style>
    </head>
    <body>
        <div class="container" style=":blue;">
            <h1 style="color:red">Allo</h1>
            <div class="row">
                <label>Comment</label>
                <div class="col-md-offset-3 col-md-12">
                    <%= report.comments %>
                </div>
                <div class="col-md-offset-3 col-md-12">
                    <%= report.comments %>
                </div>
            </div>
        </div>
    </body>
</html>